:root {
  --fuentePrimaria: "Montserrat", sans-serif;
  --fuenteSecundaria: "Mulish", sans-serif;
  --colorBlack: #000;
  --colorWhite: #ffff;
  --colorGreen: #66b95c;
  --colorGray: #f8f9fa;
  --background1: #0e1525;
  --background2: #091020;
}
/* RESET */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
section[id] {
  scroll-margin-top: 7rem;
}
body {
  font-family: var(--fuentePrimaria);
  background-color: var(--colorBlack);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*MINI-FRAMEWORK*/

h2 {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--colorGreen);
}
h3 {
  color: var(--colorGray);
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}
p {
  color: var(--colorWhite);
  font-size: 1.2rem;
  font-family: var(--fuenteSecundaria);
  font-weight: 400;
  line-height: 2.5rem;
}
.btn {
  width: 10rem;
  padding: 1.3rem 0rem;
  background-color: transparent;
  color: var(--colorGray);
  border: solid 0.1rem var(--colorWhite);
  border-radius: 5rem;
  transition: 0.5s ease;
  display: block;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--colorGreen);
}

.center {
  margin: auto;
}
.text-center {
  text-align: center;
}
.contenedor {
  max-width: 90%;
  margin: auto;
}
.row {
  display: flex;
}

@media (min-width: 768px) {
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-1 {
    width: 8.33%;
  }
}

.d-flex {
  display: flex;
}
.flex-grap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.align-item-center {
  align-items: center;
}
.align-item-end {
  align-items: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-evely {
  justify-content: space-evenly;
}

/*BARRA DE NAVEGACION*/

.main-header {
  /*position: relative;*/
  background-image: url(../img/banner/4.jpg);
  background-color: var(--colorGray);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-header::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
}
.main-header-title {
  position: relative;
  height: 100vh;
}

.main-header-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background-color: var(--background2);
  /* margin-top: 1rem; */
  transition: 0.5s ease-in-out;
  z-index: 50;
}

.header-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.header-title p {
  font-size: 2rem;
  font-weight: 700;
  color: var(--colorWhite);
  font-family: var(--fuenteSecundaria);
  letter-spacing: 0.1rem;
}
.header-title h1 {
  color: var(--colorGreen);
  font-weight: 900;
  font-size: 2.5rem;
  margin-top: 0.5rem;
  letter-spacing: 0.5rem;
}
.header-title span {
  color: var(--colorGray);
  font-weight: 900;
  font-size: 2.5rem;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .main-header-navbar {
    background-color: transparent;
  }

  .fixed-nav {
    background-color: var(--background2);
  }
}

.main-header-navbar-item {
  height: 100%;
}

.title-nav {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffff;
}
.title-nav span {
  color: var(--colorGreen);
  font-family: var(--fuentePrimaria);
  font-weight: 900;
}

.nav-item {
  background-color: var(--background2);
  position: fixed;
  width: 70vw;
  height: 70vh;
  top: 4rem;
  left: -60rem;
  flex-direction: column;
  text-align: center;
  font-size: 1.3rem;
  line-height: 3;
  transition: 1s ease;
}

.nav-item-down {
  left: 0;
}
@media (min-width: 768px) {
  .nav-item {
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    font-size: 1.1rem;
    /* background-color: royalblue; */
    width: 100%;
    height: 70%;
    line-height: 0;
  }
  .title-nav p {
    margin-left: 0;
  }
}

.item {
  padding: 0.6rem 0;
  margin: 0 1rem;
  color: var(--colorWhite);
  font-weight: 600;
  position: relative;
  overflow: hidden;
  height: 80%;
  transition: all 0.5s;
}
.item::before {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: var(--colorGreen);
  position: absolute;
  bottom: 0rem;
  left: -9rem;
  transition: all 0.5s;
}
.item:hover::before {
  left: 0;
}
.item-before-activo::before {
  left: 0;
}

.item:hover {
  color: var(--colorGreen);
}

.active {
  color: var(--colorGreen);
  font-weight: 700;
}
@media (min-width: 468px) {
  .item a:last-of-type {
    margin-right: 0;
  }
}
.fa {
  display: block;
  color: var(--colorWhite);
  font-size: 2rem;
}
.fa-bars-unenable {
  display: none;
}

@media (min-width: 768px) {
  .fa {
    display: none;
  }
}

/*ABOUT*/
.about {
  margin-top: 5rem;
  flex-direction: column;
  transition: 1s;
}
.about-animacon {
  transform: translateY(-100px);
}

.about-img img {
  width: 100%;
  border-radius: 0.6rem;
}
@media (min-width: 468px) {
  .about-img img {
    width: 75%;
    display: block;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .about {
    flex-direction: row;
  }
  .about-img img {
    margin-left: 0;
  }
}

.about-me h2 {
  margin-top: 1.5rem;
  text-align: center;
}

.about-me p:first-of-type {
  display: none;
}

.line {
  margin: 2rem auto;
  width: 50%;
  height: 0.2rem;
  background: radial-gradient(
    circle,
    var(--colorGray) 1%,
    rgba(0, 0, 0, 1) 60%
  );
}
.about-line {
  margin: 2rem auto;
  background: radial-gradient(
    circle,
    var(--colorGray) 1%,
    rgba(0, 0, 0, 1) 60%
  );
}
.hobies {
  font-weight: 600;
  text-align: center;
  margin-top: 3rem;
  font-size: 1.5rem;
}
.hobies-item {
  color: var(--colorGray);
  flex-direction: column;
  text-align: center;
}
.hobies-item span {
  margin-top: 2rem;
  color: var(--colorGreen);
}
.hobies-item li {
  font-size: 1.2rem;
  font-weight: 600;
}
.about-btn {
  margin-top: 4rem;
}
.about-btn a {
  margin: auto;
}
@media (min-width: 468px) {
  .hobies-item {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .about-me h2 {
    text-align: left;
  }
  .about-me p:first-of-type {
    margin-top: 1.5rem;
    text-transform: capitalize;
    font-family: var(--fuenteSecundaria);
    font-weight: 600;
  }
  .about-line {
    margin: 2rem 0;
    background: linear-gradient(
      39deg,
      var(--colorGray) 0%,
      rgba(102, 185, 92, 0) 100%
    );
  }
  .hobies {
    text-align: left;
  }
  .about-btn a {
    margin-left: 0;
  }
}

/*SKILLS*/
.skill {
  margin-top: 3.5rem;
  margin-bottom: 60px;
}
.skill-content {
  margin-top: 4rem;
  flex-direction: column;
  /* background-color: #0e76a8; */
  width: 80%;
  margin: auto;
}
.skill-item {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.skill-item span {
  color: var(--colorGray);
  transition: All 1s;
}
.skill-item span:hover {
  transform: translateY(-0.5rem);
}
.skill-item p {
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 468px) {
  .skill-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .javascript {
    grid-column: 1/3;
  }
}
@media (min-width: 768px) {
  .skill-content {
    display: flex;
    flex-direction: row;
  }
}

.fa-html5:hover {
  color: #e34c26;
}
.fa-css3-alt:hover {
  color: #264de4;
}
.fa-js-square:hover {
  color: #f0db4f;
}

/*PORTFOLIO*/
.portfolio {
  margin-top: 5rem;
}

.portfolio-title p {
  /* margin-top: 2rem; */
  width: 50%;
  line-height: 2rem;
}

.portfolio-image {
  margin: 3rem 0;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.portfolio-image-item {
  width: 480px;
  height: 490px;
  margin-top: 0rem;
  overflow: hidden;
  background-color: var(--background2);
  border-radius: 0.6rem;
  /* display: flex; */
}

.portfolio-image-item img {
  width: 100%;
  padding: 20px;
  right: 0;
}

@media (min-width: 468px) {
  .portfolio-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .portfolio-image {
    display: flex;
    flex-direction: row;
  }
}

.portfolio-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio-text .portfolio-content {
  height: 110px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio-text .portfolio-content .description {
  margin-top: 20px;
}

.portfolio-text .link {
  color: white;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;
  font-size: 1.2rem;
  width: 180px;
  margin: 0 auto;
}
.portfolio-text .link a {
  cursor: pointer;
  color: var(--colorGreen);
}

.portfolio-text .link a:hover {
  color: var(--colorGray);
}

.portfolio-text .link span {
  margin-right: 10px;
}

.portfolio-text p {
  color: var(--colorWhite);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin: auto;
  padding: 0 5px;
}
.portfolio-text h2 {
  width: 90%;
  font-size: 1.4rem;
  text-align: center;
  margin: 0px auto;
}

/*SERVICES*/
.services {
  padding-top: 2rem;
}
.services .center {
  margin: 2rem auto;
}

.service-item {
  background-color: var(--background2);
  height: 20rem;
  border-radius: 0.5rem;
  padding-top: 1.2rem;
  transition: All 1s ease;
  margin: 1.5rem auto;
  box-sizing: initial;
}

.service-item h3 {
  margin-top: 40px;
}
@media (min-width: 468px) {
  .services-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .services-item-3 {
    grid-column: 1/3;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .services-content {
    display: flex;
    flex-direction: row;
  }
  .services-item-3 {
    grid-column: 1/3;
    width: 33.3%;
  }
}
.service-item:hover {
  transform: translateY(-0.5rem);
}

.service-item h3 {
  color: var(--colorWhite);
  font-size: 1.5rem;
}
.service-item span {
  color: var(--colorGreen);
  font-size: 2rem;
  margin-top: 1.2rem;
}
.service-item p {
  color: var(--colorGray);
  font-family: var(--fuenteSecundaria);
  margin-top: 1.2rem;
  line-height: 2rem;
}
@media (min-width: 468px) {
  .middle {
    margin: 1.5rem 1rem;
  }
}

/*CONTACT*/

.contact {
  margin-top: 4rem;
}
.contact-form {
  margin-top: 4rem;

  width: 90%;
}

.input-container {
  margin: 0 auto;

  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-container input,
textarea {
  border: solid var(--colorGreen) 0.15rem;
  border-radius: 0.3rem;
  overflow: scroll;
  overflow: hidden;
  resize: none;
  outline: none;
  padding: 5px;
  text-align: justify;
  margin: 15px auto 0 auto;
  width: 100%;
  color: var(--colorGreen);
  font-weight: 700;
  font-size: 15px;
}
.contact-form input {
  height: 2.9rem;
}
.input-container p {
  font-size: 15px;
  color: #e34c26;
  margin-top: -8px;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
input:focus {
  border: 4px solid var(--colorGreen);
}
textarea:focus {
  border: 4px solid var(--colorGreen);
}

.contact-btn {
  margin: 2rem auto;
}
.contact-btn button {
  font-size: 15px;
}

@media (min-width: 468px) {
  .input-container input,
  textarea {
    width: 100%;
  }
  .contact-form {
    width: 40%;
  }
}

/*FOOTER*/
.footer {
  background-color: var(--background2);
  margin-top: 3rem;
  height: 8rem;
  margin: auto;
}
.footer-content {
  flex-direction: column;
  width: 90%;
}
.footer-link {
  width: 80%;
  margin-bottom: 1.5rem;
}
.f {
  width: 100%;
  justify-content: center;
}
@media (min-width: 468px) {
  .footer-content {
    flex-direction: row;
  }
  .footer-link {
    margin-bottom: 0;
  }
  .f {
    justify-content: flex-end;
  }
}

.footer-link {
  justify-content: space-around;
}
.footer a {
  color: var(--colorWhite);
  font-size: 1.5rem;
  display: block;
}
.footer a span {
  transition: all 1s ease;
  display: flex;
}
.footer a:hover > span {
  transform: translateY(-0.5rem);
}

.footer p {
  color: #ffff;
  font-size: 1rem;
}
.correo:hover {
  color: #64c9cf;
}
.facebook:hover {
  color: #3b5998;
}
.link:hover {
  color: #0e76a8;
}
.git:hover {
  color: #d1d1d1;
}
/*UP*/
.up {
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  color: var(--colorWhite);
  font-size: 1.3rem;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  cursor: pointer;
  z-index: 100;
  background-color: var(--background1);
  transform: scale(0);
  transition: all 0.5s;
}
.up:hover {
  background-color: var(--colorGreen);
}
.up-view {
  transform: scale(1);
}
